# data structures
- dictonaries

### Tuples 
- it parenthesis() li square brckets[]
- Difference between list and tuples
- list are mutable - can be changed/ modified
- Used to access modify. Add , delete data
- Tuples are immutable -cannot be changed
- Used to access data only

In [18]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

# dictionaries 

- it works on the concept of set unique data
- keys,values is the unique identifier for a value
- Each key is separated from its value with colon(:)
- Each key and value is separated by comma(,)
- Distionaries enclosed with curly brces({})

In [4]:
d1 = {"name":"Gitam","EmailId":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'Gitam', 'EmailId': 'gitam@gmail.com', 'address': 'hyderabad'}

In [6]:
d1["name"]

'Gitam'

In [10]:
d1["EmailId"] = 'gitam-python@gamil.com'

In [11]:
d1['EmailId']

'gitam-python@gamil.com'

In [12]:
del d1["EmailId"]

In [13]:
d1

{'name': 'Gitam', 'address': 'hyderabad'}

In [14]:
d1.keys()

dict_keys(['name', 'address'])

In [15]:
d1.values()

dict_values(['Gitam', 'hyderabad'])

In [16]:
d1.items()

dict_items([('name', 'Gitam'), ('address', 'hyderabad')])

### Contact Application
- Add contact
- Search the contact
- List all the contacts
   - name1 :phone1
   - name2 :phone2
- Modify the contact
- Remove the contact
- Import the contact

In [33]:
contacts = {}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("Contact is details are added")
    else:
        print("Contact details are already exists")
    return
addcontacts('Anil','9845248455')
addcontacts('Naveen','8008256472')
addcontacts('Anil','9652487325')

Contact is details are added
Contact is details are added
Contact details are already exists

In [34]:
contacts

{'Anil': '9845248455', 'Naveen': '8008256472'}

In [39]:
def searchContacts(name):
    if name is contacts:
        print(nmae," : ", contacts[name])
    else:
            print("%s does not exists" % name)
    return
searchContacts('Anil')
searchContacts('Harsha')
searchContacts('Naveen')

Anil does not exists
Harsha does not exists
Naveen does not exists

In [40]:
def importContact(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added successfully")
    return
newContacts = {'Dinesh':9988774455,'Ajay':9977445566}
importContact(newContacts)

2 Contacts added successfully

In [41]:
contacts

{'Anil': '9845248455',
 'Naveen': '8008256472',
 'Dinesh': 9988774455,
 'Ajay': 9977445566}

In [42]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name," deleted successfully")
    else:
            print(name," not exists")
    return
deleteContact('Ajay')

Ajay  deleted successfully

In [43]:
contacts

{'Anil': '9845248455', 'Naveen': '8008256472', 'Dinesh': 9988774455}

In [55]:
def deletecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"update successfully")
    else:
        print(name,"not exists")
    return
deletecontact('Anil',9988774455)
deletecontact('Ajay',9988665544)

Anil update successfully
Ajay not exists

In [56]:
contacts

{'Anil': 9988774455, 'Naveen': '8008256472', 'Dinesh': 9988774455}

In [57]:
li = ("python"," programming")
print("%s %s" % (li[0],li[1]))

python  programming

In [58]:
print("(0) (1)".format(li[0]),li[1])

(0) (1)  programming

In [59]:
li1=[1,2,3,4]
print("%d %d %d %d" %(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [60]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3],))

1 2 3 4

# string function
- Using()- will convert the given string into upper case
- Lower()- will convert the given string into lower case

In [63]:
s1 = "Gitam"
print(s1.upper())
print(s1.lower())

GITAM
gitam

# boolean functions(true and false)
- islower()- true if string is lower case/false if the string not in lower case
- isupper()- true if string is upper case/false if the string not in upper case

In [64]:
s1 = "Gitam"
print(s1.islower())
print(s1.isupper())

False
False

In [65]:
a2 = "python programming"
a3 = "python programming"
print(a2.istitle())
print(a3.istitle())

False
False

In [66]:
a2 = "application1235"
a3 = "pythonprogramming"
print(a2.isalpha())
print(a3.isalpha())

False
True

In [67]:
a1 = "1234"
a2 = "application1234"
print(a1.isnumeric())
print(a2.isnumeric())

True
False

### string methods
- join()- Method will concatinates the two strings

In [68]:
s1 = "python"
print(" ".join(s1))

p y t h o n

In [69]:
a2 = "python programming easy to learn"
print(",".join(a2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [74]:
a2="python programming say to learn"
print(a2.split())

['python', 'programming', 'say', 'to', 'learn']

In [73]:
li=("python","programming","learn")
print(",".join(li))

python,programming,learn

In [75]:
s2 = "python programming easy to learn"
print(s2.replace("gra","application"))

python proapplicationmming easy to learn

In [1]:
import math
math.floor(123.45)

123

In [2]:
from math import factorial as fact
fact(5)

120

In [3]:
fact(10)

3628800

In [4]:
from math import gcd as gcd
gcd(10,15)

5

In [5]:
# function to generate N random numbers in given range
import random
def randomNNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomNNumbers(10,0,100)

80 31 83 98 4 85 16 10 18 10